[2014-06-23 04:34] ctrueden opened #2 "Make tutorials to help people get started writing tools plugins"
Interactive tools are one of the most powerful things Fiji could offer in the Image Processing Facility in Dresden. If we make it super-easy to write them for ImageJ2, many more people can benefit from them.

Migrated-From: http://trac.imagej.net/ticket/1373

[2014-06-23 04:35] ctrueden opened #3 "Make a tutorial: how to port my plugin"
We should make a tutorial that shows how to port a simple IJ1 plugin. For instance one could create an IJ2 plugin that relies on the legacy service. It would have a Display output. The run() method would be cut and paste from the IJ1 plugin. At the end the created ImagePlus would use legacy service to create associated display. (even calling registerImagePlus if you want to keep bidirectional tran

[2014-06-23 04:36] ctrueden opened #4 "Tutorial needed: how to use LegacyService"
The legacy service has some user accessible functionality that could be documented by a tutorial.

Migrated-From: http://trac.imagej.net/ticket/1389

[2014-06-23 04:38] ctrueden opened #5 "Tutorial needed: how to use the SamplerService"
Once the implementation of the SamplerService is finalized write up a tituorial showing how to use it, SamplingDefinitions, AxisSubranges, etc.

Migrated-From: http://trac.imagej.net/ticket/1388

[2014-06-23 04:41] ctrueden opened #6 "Create tutorials for the ImageJ API"
To aid developers in learning ImageJ2's API, we should add more tutorials:
- [ ] intro-to-services
- [ ] intro-to-plugins
- [ ] intro-to-displays
- [ ] intro-to-menus
- [ ] intro-to-platforms
- [ ] intro-to-uis
- [ ] override-a-service
- [ ] add-a-new-service
- [ ] add-a-new-widget
- [ ] add-a-new-display
- [ ] add-a-new-platform
- [ ] a-simple-plugin

Migrated-From: http://trac.imagej.net/ticket/

[2014-08-18 16:48] ctrueden opened #10 "GradientImage example has style issues"
In the tutorial code we have a simple command example. It creates a GradientImage. However the code example uses bad style in that it is somewhat dependent upon the expectation that the created Img is backed by PlanarAccess. It uses setPlane(). This is to show users that they can ignore our generic types. But for the June 2013 beta release (beta 7) we are thinking that the Img creating/opening cod

[2014-12-01 20:10] hinerm opened #11 "LoadAndDisplay tutorial is broken"
As originally reported in https://github.com/scijava/scijava-common/issues/134, and at the least, the `LoadAndDisplayDataset` tutorial is currently broken.

1) it relies on a broken version of the `DefaultDatasetService`. This can be resolved by updating to a version after this commit: https://github.com/imagej/imagej-common/commit/e11b7728408c7982939e075bba389378f5354398

2) It depends on the [im

[2014-12-19 19:08] #11 closed, assigned to ctrueden

[2014-12-19 19:20] hinerm opened #12 "Properly dispose of contexts"
Currently none of the tutorials dispose the `Context`s they create. I'm worried that this will lead to "ImageJ tutorials won't quit" issues. For example: run the `LoadAndDisplayDataset` tutorial - after closing the opened image and log, imagej will still be running.

[2015-05-13 10:40] gab1one opened #13 "Lots of error messages when running the using-ops tutorial"
I get a lot of Exceptions when running the [using-ops tutorial](https://github.com/imagej/imagej-tutorials/blob/master/using-ops/src/main/java/UsingOps.java).
You can view the output [here](https://gist.github.com/gab1one/1545b28e21f34cfc18fb)

[2015-05-13 16:24] ctrueden commented on #13
The problem is caused by Javassist 3.16.0-GA being incompatible with Java 8. If you use Java 6 or Java 7, things should work.

We already updated the ImageJ software stack to use Javassist 3.19.0-GA, which fixes the problem. However, when updating the tutorials to use the latest ImageJ software stack, there are other new problems which need to be addressed. I am working on fixing these, and will p

[2015-05-14 07:21] gab1one commented on #13
Awesome :+1:

[2015-05-14 21:56] ctrueden commented on #13
Turns out the updates I did yesterday work just fine, so I finally pushed them to master. Sorry for the delay.

For the record (and for the search archives on GitHub): if you ever see an error like:
[code]
It is probably caused by a project linkage to ImageJ 1.x in Eclipse. Close the ImageJ1 project, and the problem should disappear.

[2015-05-14 21:56] #13 closed

[2015-09-05 20:59] ctrueden opened #18 "Add FunctionOp, ComputerOp, HybridOp, InplaceOp to UsingOps tutorial"
We need to explain these four key types of ops!

[2015-09-06 16:54] hinerm opened #19 "Make christian stop complaining about our tutorials"
make them look like this: https://github.com/biobv2015/knip-developer-guide

[2015-09-06 17:01] fjug opened #20 "Everything is out there... people just don't find it before they stop looking..."
And yes... they should just look longer and be more persistent... but let me tell you... they aren't and this is how it is.

If you still want these people develop for you (or only just use things you did), I suggest the following (which we just discussed in the ImageJ hackathon dungeon on Sept. 6th).

Come up with some typical user profiles and assemble pages tailored to suit the needs of exactly

[2015-09-06 17:04] dietzc commented on #20
https://github.com/biobv2015/knip-developer-guide this is what I provide to my students... it helps them a lot.

[2015-09-06 19:38] hinerm commented on #20
thanks for this @fjug

[2015-09-06 19:42] ctrueden commented on #20
Great, totally agreed. Now: can someone who is not me or @hinerm start this
effort at this very hackathon, within the next couple of days????

Of course, I also pledge to help improve and further organize it!
On Sep 6, 2015 2:38 PM, "Mark Hiner" <notifications@github.com> wrote:

[2015-09-06 21:38] dietzc commented on #19
actually, no. The tutorials are awesome. We just have to create a guide for someone who is new which brings them in a right order.

Ok. I volunteer to do that during the hackathon. Assign me.

[2015-09-09 15:06] etarena commented on #20
i'm on it.  (providing my newbie-perspective perhaps will be helpful...)

[2015-09-09 15:33] etarena commented on #20
just an aside...  I think a lot of the problems with mis-understanding come from two places:
1) terminology (using more 'simple' terms to describe things for those who are not deep within the cs world - i’m not saying ‘dumb it down’ but ‘clear it up’)
2) missing context (what is the point of this tool?  why are we using it?  where does it fit in in the big scheme of things?)

[2015-10-08 20:13] hinerm opened #21 "Ensure creating services tutorial covers Service paradigms"
Rarely when implementing a service do we directly extend 'AbstractService'.. instead we usually write a 'Handler' or 'Singleton' etc..

Since we have interfaces and abstract classes for common service patterns, we should advertise them!

[2015-10-14 18:27] hinerm opened #22 "Add cc0 license-maven-plugin configuration"
Tried running `mvn license:update-file-header` and got BSD instead of cc0. All the projects should be updated to be cc0

[2015-10-14 18:33] ctrueden commented on #22
This will require either:

* A pull request to the [license-maven-plugin](https://github.com/mojohaus/license-maven-plugin) adding CC) as a built-in option; or
* A custom license server providing that option.

We have done the custom license server in the past, and it has some problems. So I put in effort to switch us fully over to built-in options. It is probably worth pursuing the PR option to k

[2015-10-14 18:34] ctrueden commented on #22
Note that instead of CC0 we could use the [Unlicense](http://unlicense.org/); the latter is what choosealicense.org recommends for disclaiming copyright. Either way.

[2015-10-14 18:46] hinerm commented on #22
You can just provide the license in-repo and reference it via the maven config.. see [scifio-tutorials](https://github.com/scifio/scifio-tutorials)

[2015-10-14 18:52] ctrueden commented on #22
There is some reason that doing that caused problems, too. Sorry I can't remember the details now... Generally speaking, you want to avoid in-repo `file://` references in the POM (see item 6 of the [Playing Tradeoffs with Maven](http://developer-blog.cloudbees.com/2013/03/playing-trade-offs-with-maven.html) article). But in this case maybe it is OK because the license-maven-plugin config is not re

[2015-12-02 06:13] reckbo opened #24 "ImageJ ij = new ImageJ() fails"
Hi,

I've installed ImageJ as a library for my project using the gradle line

    compile 'net.imagej:imagej:2.0.0-rc-9-SNAPSHOT'

which seemed to download every ImageJ package known to man.  I'm now trying to get the simplest example working, i.e.

    import net.imagej.ImageJ;
    ...
    ImageJ ij = new ImageJ();

but I get a long stack trace of errors which ends with 'error in opening zip file

[2015-12-02 15:04] hinerm commented on #24
First off, depending on a `SNAPSHOT` is [not advised](http://imagej.net/Architecture#Reproducible_builds) because you are not guaranteed to get consistent behavior back.

In this case, rc-9 is also extremely old and probably filled with problems. You can find the [latest release version on GitHub](https://github.com/imagej/imagej/releases) and [maven](http://maven.imagej.net/index.html#nexus-searc

[2015-12-02 15:10] ctrueden commented on #24
In addition to @hinerm's comments, a couple other notes:

This means you are using a too-old version of Javassist (one of the project's dependencies) with Java 8. This is probably because you are using an old version of `net.imagej:imagej`. The problem was fixed a few months ago by upgrading to a newer Javassist—try using the latest version of ImageJ.

This often means your build system had proble

[2015-12-07 06:02] reckbo commented on #24
Thanks for your help guys -- unfortunately upgrading to the latest release version ('net.imagej:imagej:2.0.0-rc-43') didn't help, although it did vanquish the zip file error.

I took @hinerm's suggestion and added the imagej bom to my gradle build, using version 3.1:

    mavenBom 'net.imagej:bom-imagej:3.1'

The problem now is that it fails to find some dependencies (you can see the error below).

[2015-12-07 14:54] hinerm commented on #24
Whooops... mis-communication here :smile: the `pom-imagej` project ***is*** the [bill of materials](http://imagej.net/Architecture#Bill_of_Materials).

`bom-imagej` is an unfortunate historical artifact from when we were experimenting with different pom/bom configurations.

if you use:

[code]

and remove any other ImageJ version specification, does it work better?

[2015-12-08 02:01] reckbo commented on #24
It works, you are my hero.

To help anyone else using gradle I've listed the relevant lines in my build.gradle below.

 ------

[code]

[2015-12-08 13:58] hinerm commented on #24
Awesome! It's great to hear that it worked for you. Thanks for your persistence :smile:

We try to collect all our documentation on the [ImageJ wiki](imagej.net) - so I started [a gradle page](http://imagej.net/Gradle) in case you run into further pitfalls.

[2015-12-08 13:58] #24 closed

[2016-06-13 11:28] stelfrich commented on #10
I will take care of this when `RichImg` (or whatever it may be called)/`ImgPlus`/`Dataset` has settled.

Should we already introduce _Ops_ for creating images in this tutorial?

[2016-08-31 13:06] haesleinhuepf opened #28 "NoSuchServiceException in tutorial code about services"
Hey guys,

I was just trying the "Create a new Plugin Type" example, because I'm really curious on how to use this plugin mechanism. The code is located here:

https://github.com/imagej/imagej-tutorials/tree/master/create-a-new-plugin-type

When I run it (main function in CreateANewPluginType), I get this error meassage:

[code]
And this is the line, where the error happens:

`final AnimalService

[2016-08-31 14:18] haesleinhuepf commented on #28
I just figured out how to make the tutorial work: If I replace the line

[code]

with these lines:

[code]

It works. But is it intended to be like that? Is there an alternative of adding a new service to an existing Context?

Thanks!
Robert

[2016-08-31 16:08] stelfrich commented on #28
@haesleinhuepf I can reproduce the issue.

It is due to some changes on how the ImageJ gateway works. Prior to https://github.com/imagej/imagej/commit/2f1ecc38960a76b72074f5bc68dca06929992f50 `new ImageJ()` would create a `Context` with all available services (including `AnimalService`). Introduced with the mentioned commit, the created `Context` only contains relevant services.

I think this exam

[2016-09-01 02:45] ctrueden commented on #28
We can either write `new Context()` or else make `AnimalService` implement `ImageJService`. I think I prefer the former solution.

[2016-09-01 02:50] ctrueden commented on #28
Looking at the tutorial, it is very ImageJ-centric. (Even though it doesn't really do anything with images, and could be repurposed as a SciJava-level service.)

So I'm going to change it to implement `ImageJService`, and then this problem goes away.

[2016-09-01 02:53] #28 closed

[2016-09-01 06:39] haesleinhuepf commented on #28
Thanks a lot guys! :)

[2016-10-12 14:21] ctrueden opened #30 "Unify tutorials as Beaker notebooks"
We have tutorials in several places throughout the SciJava GitHub organizations and on the ImageJ wiki. Our goal is to create a coherent, ordered set of tutorials, through which new people can proceed in order to understand how to use the various APIs of the SciJava software stack.

## Existing tutorials to unify

The following places have tutorials which we want to unify:

* [ ] [imagej/imagej-tu

[2016-11-30 21:47] panovr opened #31 "Incomplete "creating-services" project in dev-manual branch?"
It seems that the "creating-services" project in **dev-manual** branch is incomplete.

[2016-11-30 21:51] ctrueden commented on #31
Indeed. You can see the progress in detail via the command:
[code]
Which says:
[code]
The tutorial looks barely started, so don't worry about porting it to Beaker. We can leave this issue open for now until we decide whether to complete it, or just discard that commit.

[2016-11-30 21:59] panovr commented on #31
Sure. I think maybe we need a wiki page to record the Beaker notebook porting status.
@ctrueden May you create a bare-bone page in ImageJ wiki, then I can fill in the content?

[2016-11-30 22:18] ctrueden commented on #31
You can do it yourself.

However, why not just make a GitHub wiki page on imagej-tutorials? This particular page does not really need to be "user facing" right now.

[2016-11-30 22:27] panovr commented on #31
I just created the wiki page, and I will fill in the contents.

[2016-12-01 16:29] panovr commented on #31
I have added some contents in the wiki.
 @ctrueden Is this OK?

[2016-12-14 20:51] panovr opened #34 "ij.platform().open(new URL("http://imagej.net/")) failed on Windows 10"
On my Windows 10, this statement in `intro-to-imagej-api` repo will fail:
`ij.platform().open(new URL("http://imagej.net/"));`
I think maybe this is a Java related issue.

[2016-12-15 08:57] ctrueden commented on #34
See also scijava/scijava-common#231.

@panovr Could you please investigate? I suggest using the debugger, setting a breakpoint in the `open` method of `DefaultPlatformService`. This fix might be easy. And if not, more information about what is going on under the hood would be helpful.

[2016-12-15 12:26] panovr commented on #34
@ctrueden I will investigate this issue.

[2016-12-15 16:22] panovr commented on #34
@ctrueden I did more investigation on this issue. Basically, the open() method will invoke the open() method in WindowsPlatform.java https://github.com/scijava/scijava-plugins-platforms/blob/master/src/main/java/org/scijava/plugins/platforms/windows/WindowsPlatform.java#L56

[code]
And it will invoke the exec() method in DefaultPlatformService.java https://github.com/scijava/scijava-common/blob/ma

[2016-12-15 18:45] ctrueden commented on #34
@panovr That is quite odd! Certainly, there is an `exec` method which accepts a `String[]` and it purports to treat the array elements as separate arguments. Did you try it the other way?
[code]
If that doesn't work, could you please research the best way on Windows 10 to do this from Java? Surely there are threads e.g. on StackOverflow about it.

[2016-12-16 00:12] panovr commented on #34
@ctrueden I will try other ways tomorrow morning and let you know the result.

[2016-12-16 15:15] panovr commented on #34
@ctrueden You are right, the correct parameters construction should be:
[code]
So the key is to separate "rundll32" into a single String object.

[2016-12-16 17:39] ctrueden commented on #34
@panovr Great! Would you please fix it? Thank you!

[2016-12-16 21:01] panovr commented on #34
@ctrueden Done, please do code review and merge the pull request.

[2016-12-21 03:04] #34 closed

[2017-02-10 19:32] ctrueden commented on #31
Wiki page looks fine. I am closing this issue since I have now actually deleted that `creating-services` tutorial stub.

[2017-02-10 19:32] #31 closed

[2017-02-10 20:11] ctrueden commented on #21
A tutorial on creating custom services in the various SciJava service paradigms is ultimately desirable. But the number of developers who will need to do this is orders of magnitude smaller than the ones who want to consume the existing services, and/or create plugins of more common types like `Command` and `Op`. I am going to close this issue for now, due to lack of urgent need. Some day, in resp

[2017-02-10 20:11] #21 closed

[2017-02-10 20:16] ctrueden commented on #20
So, the central starting point for learning ImageJ is now intended to be http://imagej.net/Learn. And for developers: http://imagej.net/Develop.

We are working on unifying all the developer tutorials as Beaker notebooks in this repository. Several complementary resources will be (at least largely) unified here, such as `scifio/scifio-tutorials` and `imagej/imagej-scripting`.

I am closing this is

[2017-02-10 20:16] #20 closed

[2017-02-10 20:17] ctrueden commented on #19
The new tutorial notebooks (currently on the `beaker` branch, and merging to master imminently) have a defined and coherent order to them, with a top-level table of contents. Hopefully @dietzc is satisfied with this. If not, please reopen.

[2017-02-10 20:17] #19 closed

[2017-02-10 20:18] ctrueden commented on #18
Mostly done, as of 72170757486955007525f528547df49702b5a2a0.

[2017-02-10 20:18] #18 closed

[2017-02-10 20:20] ctrueden commented on #10
This is technically still an issue. But it will become moot soon, because the `simple-commands` tutorial is going away in favor of Beaker notebooks, which do not use the undesirable `Dataset` API. Closing preemptively, since no further action will be required to solve this later.

[2017-02-10 20:20] #10 closed

[2017-02-10 20:22] ctrueden commented on #6
The list of tutorials should be driven by common developer needs. I'd like to believe that the outline laid out in the Beaker notebooks (currently on the `beaker` branch, but merging to master imminently) roughly corresponds to the commonality of developer API usage.

As such, I'm closing this issue. We will add more tutorials as API usage questions arise. (E.g.: the chances of someone needing to

[2017-02-10 20:22] #6 closed

[2017-02-10 20:26] ctrueden commented on #5
The ImageJ Ops project has all the functionality of `SamplerService` and more. As such, the `SamplerService` will likely be deprecated. We already have a detailed "Introduction to Ops" tutorial which covers many of these topics. There will later also be a tutorial notebook on ImageJ image metadata, once the image metadata API solidifies. In any event, a `SamplerService` tutorial is no longer requi

[2017-02-10 20:26] #5 closed

[2017-02-10 20:28] ctrueden commented on #4
A rudimentary start on this tutorial now exists (currently on the `beaker` branch, but merging to master imminently) as "Mixed World - Using ImageJ 1.x" in the "Using ImageJ" chapter. It currently shows of manually triggered conversion between IJ1 and IJ2 image objects.

[2017-02-10 20:28] #4 closed

[2017-02-12 12:08] ctrueden commented on #30
Progress: 886d264bf3b58f101587941cc66a35a545d7fb4d

[2017-02-28 22:23] imagejan opened #35 "Add an example of parsing metadata"
Let's add the nice [`ParseMetadata` example](https://gist.github.com/ctrueden/8c14e07d5f2d9b4623b42b2e80feca30) by @ctrueden in a Beaker notebook tutorial.

[2017-03-05 09:31] tischi opened #36 "initialization error"
I tried to run the Beaker demo, but for me it says: "Initialization failed".
If I then anyway try to run the first cell, where ImageJ is loaded, I get these error messages:

`General error during conversion: Error grabbing Grapes -- [download failed: org.ow2.asm#asm;5.0.4!asm.jar, download failed: org.ow2.asm#asm-util;5.0.4!asm-util.jar, download failed: org.ow2.asm#asm-tree;5.0.4!asm-tree.jar, do

[2017-03-08 10:57] haesleinhuepf commented on #36
I do have the same issue on my Mac and on my Windows10 laptop as well. Furthermore, I traced down if these dependencies exist. Apparently they do:
http://maven.imagej.net/content/groups/public/org/ow2/asm/asm/5.0.4/
http://maven.imagej.net/content/groups/public/org/ow2/asm/asm-util/5.0.4/
http://maven.imagej.net/content/groups/public/org/ow2/asm/asm-tree/5.0.4/
http://maven.imagej.net/content/grou

[2017-03-08 11:56] imagejan commented on #36
I got a similar error when first trying out the notebooks:
https://gitter.im/imagej/imagej?at=589378584c04e9a44e61f4dd

But manually copying the `asm-tree` as suggested by @ctrueden solved it for me:
[code]

At that time I also had problems with the firewall and had to set the proxy configuration:
https://github.com/imagej/tutorials/commit/211e9a04659019bea7477233151b3e648741fd63

I'm still unsure

[2017-03-14 18:53] ctrueden commented on #36
Yes, it seems that several people are getting stuck on that asm dependency. It is coming in via jruby, and I doubt you will actually need to do something requiring it in the notebook. So you can try:

[code]

Could someone affected please try that, and see if it prevents the error?

[2017-03-15 08:30] tischi commented on #36
I tested it with my Mac and the following works:
[code]
For me, excluding the jruby was **not** necessary
[code]

[2017-03-15 16:21] ctrueden commented on #36
@tischi Did you take care to test each time with a clean `~/.groovy/grapes`? Otherwise, subsequent tests are corrupted by the results of previous attempts.

[2017-03-16 08:07] haesleinhuepf commented on #36
I can confirm, it works on MacOS. I also just exclude did the following after deleting `~/.groovy/grapes`. I'll test Windows as well back home

[code]

Thanks @ctrueden ! Anywhere-running ImageJ-Beaker-notebooks are an awesome step ahead!

[2017-03-20 20:59] ctrueden commented on #36
Thanks for the confirmation, @haesleinhuepf.

So here is a question for the community: which scripting languages do you feel should be part of _core ImageJ_—i.e., come automatically when you depend on `net.imagej:imagej`?

It seems to me that Renjin could be put onto its own "R" update site, thus avoiding this specific problem. What about others? We could of course put every language onto its own

[2017-05-06 01:49] Nicholas-Schaub opened #38 "Neural Networks Branch"
I had an idea for trying to bring convolutional neural networks to ImageJ. However, I see that there is a Neural Networks branch already here in the tutorials section. Is this already in active development? I tried to do some searching and didn't find much for plugins for ImageJ, but maybe I missed something?

[2017-05-06 11:06] bnorthan commented on #38
Hi @Nicholas-Schaub , @kephale and I worked on this for basically one day last year, the main purpose was just to demonstrate how convolutional neural networks work (for learning purposes mainly).   We never got a chance to follow up, as we both got busy with many other things.

Realistically we may not want to (and have resources to) write our own deep learning framework, so instead we probably w

[2017-05-06 14:33] kephale commented on #38
My interest is still piqued. I still think it would be really cool to make a convnet in ImageJ because (based on the design @bnorthan and I started on) it would allow one to really build the net in a bottom-up way, inspecting each layer/kernels/etc. in much more detail. Doing that in DL4J is (at least when we started this code) quite a bit more awkward, since the architecture has to be specified _

[2017-05-07 03:10] dietzc commented on #38
It really depends on what we want to do. For teaching purposes, I fully agree: It would be great to be able to build small and simple convolutional networks in ImageJ-Ops. If one really wants to reuse existing networks (e.g. from any model zoo), I'd rather integrate existing frameworks, which are optimized for speed, memory efficiency, distributed training and scoring etc. Deeplearning4J improves

[2017-05-07 11:33] bnorthan commented on #38
@dietzc , @kephale , @Nicholas-Schaub

I mentioned to @ctrueden that it would be useful to start an "experimental" ops repository to test/develop new ideas. One thing I want to do is wrap some FFT and matrix operations from ND4J, wrap JTransform, and run some performance comparisons.

Ofcourse ND4J is the sibling project of DL4J, so I think deep learning experiments could also go in this repositor

[2017-05-07 14:28] ctrueden commented on #38
Do we need once centralized "experiments" repository? Or would it be OK to simply start an experimental repository in your GitHub space whenever something like this comes up? What are the advantages of putting it in the imagej organization? Increased visibility?

[2017-05-07 19:42] bnorthan commented on #38
@ctrueden

My main motivation for a centralized "experiments" repository would be to encourage collaboration.   If we had a repository set up, with dependencies to ND4J, DL4J, JTransform, and other 3rd party libraries  and examples showing how to convert ImgLib2 structures and wrap libraries with ops, I think it would be a good starting point for others.   Deep learning and deconvolution have some

[2017-05-08 16:00] ctrueden commented on #38
That's fair.
So here we go!
https://github.com/imagej/ops-experiments

[2017-05-09 21:45] Nicholas-Schaub commented on #38
Ah, this really blew up. I wasn't expecting so many responses so quickly.

@bnorthan I was thinking about doing this in DL4J but wrapping it up into an ImageJ plugin. I know Knime has an implementation using DL4J, but I was thinking about something more accessible. I think one of the issues with deep learning, especially CNNs, is that they are built and then left in a language that might make them

[2017-05-09 21:51] Nicholas-Schaub commented on #38
Regarding the point on what is the best way to encourage collaboration on experimental ideas, I think setting up starter projects that have the dependencies set up for things like DL4J and ND4J ready to go would be a good start. It might serve as a good incubator to get over the hurdle of setting things up. That way, if you know you want to do something in DL4J for example, you could clone the DL4

[2017-05-09 22:03] dietzc commented on #38
just out of curiosity, what do you mean by:

? Do you mean the way we integrate DL4J, KNIME itself or DL4J itself? Really, just because I'm curious how we could improve what we are doing.

[2017-05-10 02:38] ctrueden commented on #38
@Nicholas-Schaub Let me know if you want access to the ops-experiments repository. You could of course do the fork and pull thing as appropriate too—or just work in your own repository—but maybe it makes sense to hack on some code together here, I don't know.

[2017-05-10 17:11] Nicholas-Schaub commented on #38
@dietzc What I mean by more accessible is something in ImageJ, because the majority of the biologists I work with won't take the time to learn Knime. What I would like is an ImageJ plugin that can take a network that I train and apply it to an image loaded in ImageJ. My collaborators would use something like this because they know ImageJ, and they tend to be intimidated every time you try to teach

[2017-05-10 17:21] ctrueden commented on #38
I sent you an invite!

[2017-05-10 17:44] dietzc commented on #38
@Nicholas-Schaub no worries. I wasn't thinking that you were offensive. Our KNIME DL4J implementation currently only allows to execute Dl4J networks.

Yup. It also doesn't make sense to convince people to use a tool which slows them down. If they see the benefit, they will use it. If not, not :-)

I doubt that this would be very helpful for what you are trying to achieve, but you can check it on g

[2017-05-10 17:56] ctrueden commented on #38
For what it's worth, I am currently (this month) working on exposing basically that workflow for TensorFlow networks. Gonna create some kind of "NN chooser" UI for selecting from available/known networks, downloading on demand (since they can be large), and running them with the appropriate NN plugin—just TensorFlow to start, but I'll think about how to keep it general so that other frameworks can

[2017-05-11 02:17] Nicholas-Schaub commented on #38
@dietzc The idea behind the plugin would be to analyze the data structures that are used to saved trained networks and try to convert them into a DL4J network. I think there is enough in common between the different libraries at this point where it might be easier to just convert the layers and weights into a DL4J network rather than just trying to run them on the native platform. But, maybe that'

[2017-05-11 02:26] Nicholas-Schaub commented on #38
Oh, and I've trained 3 different networks in the last month. I've developed a pretty nice method of scaling sizes up and down for speed versus accuracy for image segmentation. Depending on the images, I can train a network in a couple of days with >95% accuracy using ~10,000,000 parameters. The training is done on a GPU of course, but I've been trying to keep a minimal number of parameters so that

[2017-06-20 09:15] Meyenhofer opened #40 "Not-to examples (imglib2)"
Add a couple of examples how things can go wrong:
* coordinate overflow - clamping
* iterators used wrong (array image vs. cell image) - a bit like the "wrong copy" example

[2017-06-20 11:25] ctrueden commented on #40
PRs welcome! ;-)

[2017-07-25 12:36] imagejan opened #41 "Combine notebook tutorials with slideshows using RISE"
The [RISE](https://github.com/damianavila/RISE) project brings [reveal.js](https://github.com/hakimel/reveal.js) presentations to Jupyter notebooks, i.e. allows live notebooks inside a full-fledged `reveal.js` presentation.

I quickly tested with the Scijava kernel, and there seem to be no issues. So let's create some educational presentation notebooks!

[2017-08-02 13:35] amounTr opened #42 "Detection area"
Hello,
I would like to apply a region detection on pictures of greenery tiles. I tried with a plugin growing region method and also  the thresholding  but the obtained results were bad. Please could you give me some other solutions allowing me to detect these areas of greenness.

This is an example picture:

![img-320](https://user-images.githubusercontent.com/30657224/28873614-b421b3fa-778e-11e7-

[2017-08-05 08:52] imagejan commented on #42
@amounTr you should post your question on the [ImageJ forum](http://forum.imagej.net/). The github issues page here is really only about tracking issues with the current tutorials source code, whereas the forum has a much wider audience and it's more likely that you get an answer over there.
I'm closing this issue here.

[2017-08-05 08:52] #42 closed

[2017-08-05 10:09] imagejan commented on #42
I just saw that you _also_ posted this in https://github.com/imagej/imagej/issues/174, so I guess you got the message :)

[2017-08-31 18:33] ctrueden commented on #38
The [ImageJ-TensorFlow](https://github.com/imagej/imagej-tensorflow) project has seen an initial release, although it is still in incubation. Some folks at MPI-CBG (e.g. @frauzufall) are continuing to hack on that library as needed to support use cases there, and we will do the same at LOCI as needed. PRs welcome from all comers. ^_^

There is also now a [Microscope Image Focus Quality Classifier]

[2017-08-31 18:33] #38 closed

[2017-10-11 14:42] DavidGauntt opened #43 "Maven IOException while reading renjin-core-0.8.1906.jar"
I have not been able to build any of the tutorial projects.  If I right-click on a pom.xml file (e.g. from add-rois) and select "Maven build", "Maven install", "Maven generate sources", etc, the action fails with the following error messages in the Console:

[INFO] --- maven-enforcer-plugin:1.4.1:enforce (enforce-rules) @ add-rois ---
[WARNING] Rule 5: org.apache.maven.plugins.enforcer.EnforceByte

[2017-10-11 14:52] ctrueden commented on #43
Sometimes pieces of the local repository cache (`$HOME/.m2/repository`) do not get populated properly—e.g., when there is a transient network issue. Maybe the `renjin-core-0.8.1906.jar` got corrupted during download? Can you try to execute `rm -rf $HOME/.m2/repository/org/renjin` and rerun the build with the `-U` flag?

[2017-10-11 15:39] DavidGauntt commented on #43
Thank you!  That worked.  After deleting the renjin folder, I ran a “generate-sources”, and Maven downloaded the rennin folder.
—
David M. Gauntt, Ph.D.
Associate Professor, Department of Radiology
UAB Medical Center

From: Curtis Rueden <notifications@github.com<mailto:notifications@github.com>>
Reply-To: imagej/tutorials <reply@reply.github.com<mailto:reply@reply.github.com>>
Date: Wednesday, Oc

[2017-10-11 16:37] #43 closed

[2017-11-06 20:01] imagejan commented on #41
Just noticed the announcement that [RISE is now running on binder](http://www.damian.oquanta.info/posts/rise-510-is-out.html). Does anybody have any experience with using https://mybinder.org/ ? @hadim @ctrueden: maybe we can get [SJJK](https://github.com/scijava/scijava-jupyter-kernel) running on binder.

[2017-11-06 20:29] ctrueden commented on #41
Binder looks awesome, and makes the idea of using RISE much more compelling. You can link straight into the reveal.js-rendered version of the notebook on Binder.

I played for 10 minutes, and it is pretty great, but clearly still beta. For example, after making edits to cells... how do you revert to the original version of the code? I couldn't find a way. Hopefully these things will be ironed out

[2017-11-06 20:54] ctrueden commented on #41
I think we can get SJJK working in Binder by specifying a custom Dockerfile. Here is an [example of that for the Julia kernel](https://github.com/binder-project/example-dockerfile/blob/master/Dockerfile). Sorry I don't have time to try it myself right now.

[2017-11-06 21:12] hadim commented on #41
Looks great. I'll try to investigate when I'll have some time.

[2017-11-06 21:37] ctrueden commented on #41
Ha ha, it was easier than I thought: you can specify an `environment.yml` with the dependencies from conda! So I did it, and pushed to master, and now you can go to https://mybinder.org/ and type in `imagej/tutorials` and it will launch a live environment. SO GREAT

I included the RISE stuff so that you can play around with RISE in the live environment, too, if you want.

[2017-11-30 16:49] ctrueden commented on #36
I am closing this issue, since the scijava-jupyter-kernel is our current approach, and does not suffer from the grape grabbing weirdness. However, we do have scijava-grab to extend which libraries are available at runtime. And I actually want to transition the SJJK to be as minimal as possible, in favor of all dependencies being explicitly declared via the `#@dependency` mechanism. So this problem

[2017-11-30 16:49] #36 closed

[2018-02-16 08:57] imagejan commented on #35
Addressed by #45.

[2018-02-16 08:57] #35 closed

[2018-03-16 11:38] Meyenhofer opened #50 "Updating choices of widgets has no effect"
in
https://github.com/imagej/tutorials/blob/master/maven-projects/dynamic-commands/src/main/java/DynamicCallbacks.java
setting new choices for a widget does not have any effect. The widget does not seem to be updates.
(MacOS 10.13.3)

[2018-03-16 11:56] imagejan commented on #50
Hm, did you see the comment:

https://github.com/imagej/tutorials/blob/11bc376ed81b43c6abf984c6ca7740aaea62c8aa/maven-projects/dynamic-commands/src/main/java/DynamicCallbacks.java#L29-L31

I'm not sure what the current status of this is...

[2018-03-17 10:31] Meyenhofer commented on #50
Nope, did not see this. It's pretty clear though...

[2018-03-18 19:05] imagejan commented on #50
For the record, here's some related discussion on the forum:
[ImageJ2 Command - callback function for persisted Parameters](http://forum.imagej.net/t/imagej2-command-callback-function-for-persisted-parameters/6663/9?u=imagejan)

[2018-04-27 14:31] imagejan opened #51 "Separate environments for notebooks with and without python and imglyb"
I suggest to somehow separate those notebooks requiring `python` and `imglyb` from the "pure" ImageJ tutorial notebooks and create two distinct `environment.yml` files. This would allow the startup of the latter on mybinder.org to be much faster, due to smaller image sizes.

[2018-05-23 10:40] kmader opened #53 "Run nbconvert in travis and check for errors"
Running ```jupyter nbconvert``` on all the notebooks and re-executing every line is a good way to check they are all valid and changes haven't broken them.

[2018-05-23 21:12] ctrueden commented on #53
Dang it @kmader, I spent all day hacking on this. 😜 And it still doesn't work... 😞

The good news is: everything is in place for the SciJava `travis-build.sh` script to support validating Jupyter notebooks. And this repository (imagej/tutorials) is configured to take advantage of it. Any other repository wanting to check their notebooks need only model their Travis config after the one here. It is

[2018-05-24 06:55] kmader commented on #53
Sorry I didn't mean to make so much work for you, but the travis-build script is quite well done. The non-zero exit code issue is unfortunately quite common but we got around it by grepping for traceback (https://github.com/kmader/Quantitative-Big-Imaging-2018/blob/master/circleci/execute.sh#L20) maybe that would work here as well (at least with the python kernels)

[2018-06-13 07:59] imagejan commented on #51
Binder looks into the root level or into `./binder` to find the `environment.yml` file, but AFAICT only allows a single environment per repository/branch.

To allow having a minimal environment for the ImageJ notebooks that _do not_ use `python` and `imglyb`, we therefore have two options:

* have different branches for different `environment.yml` files to be used by repo2docker/binder
* split thi

[2018-07-12 09:49] imagejan opened #55 "Add example command using parameter validation"
In the [`dynamic-commands`](https://github.com/imagej/tutorials/tree/master/maven-projects/dynamic-commands/src/main/java) project, it would be useful to add an example illustrating parameter validation.

Does some example like this exist already, and I missed it?

[2018-07-23 16:52] gselzer opened #56 "Migrate notebooks to the BeakerX (groovy) kernel, away from the Scijava kernel"
See https://github.com/imagej/imagej-notebook/issues/6

[2018-07-24 18:39] ctrueden commented on #51
I would rather use separate repositories than separate branches. I personally find multiple branches to be less accessible, especially for new users of git.

Quantitatively, how burdensome are these extra dependencies per Binder instance startup? That is: excluding the build time (which is slow in any case), what is the difference in startup time between a Binder instance with only the scijava-jup

[2018-08-24 19:48] ctrueden commented on #50
We can try to make this better as part of the SciJava 3 widget system redesign.

[2018-08-24 19:49] #50 closed

[2018-10-03 03:54] ctrueden commented on #41
Not sure why I left this issue open. All works fine with RISE and Binder.

[2018-10-03 03:54] #41 closed

[2018-12-01 13:01] ctrueden commented on #56
See also #30.

[2018-12-06 16:14] ctrueden opened #59 "Add new widget types and styles to Widgets examples"
* `File[]`
* `double` sliders and scroll bars
* File extension filters
* Probably others

[2019-01-02 02:28] nicost opened #60 "Jupyter notebook link in Readme.MD leads to a 404"
The link: [ImageJ Jupyter Notebooks](https://nbviewer.jupyter.org/github/imagej/tutorials/blob/master/notebooks/ImageJ_Tutorials_and_Demo.ipynb) in the Readme.MD leads to a 404 (page not found) error.

[2019-01-02 15:15] #60 closed

[2019-01-02 20:24] nicost opened #61 "How does one get started?"
Forgive my ignorance.  I am really interested in trying this out, but it is unclear to me how to get started.  It seems that the purpose of the project is to provide Jupyter Notebooks through which people can familiarize themselves with the ImageJ ecosystem (and do cool things like use Python within ImageJ), and interact with it.  However, how do you start?  Following the first link (to ImageJ Jup

[2019-01-02 20:46] ctrueden commented on #61
@nicost There are several different notebooks covering different topics. As the second bullet point of the "ImageJ Tutorials and Demo" notebook says: "To dive in to the tutorials, click the links below." Hopefully you see a table of contents that looks like this?

<img width="769" alt="toc" src="https://user-images.githubusercontent.com/556626/50611698-efa89280-0e9c-11e9-8889-d00a625f6574.png">

S

[2019-01-02 20:56] ctrueden commented on #61
I added a version of the above instructions to the README with c2e454bd759d85925157fdf11a254c2053ebbdee. I hope it helps.

[2019-01-02 23:06] nicost commented on #61
Much better.  It would be useful to add instructions on how to start Binder (and warn the user for expected long time the initial steps take).  I think that the errors I show were caused by the first cell not finishing execution yet.

I'll open a new issue for an error I encountered using the Python kernel.

[2019-01-02 23:10] nicost opened #62 "Python kernel error (in Binder): PYJNIUS_JAR environment variable not defined."
When running the ImageJ-with-Python kernel in Binder, executing the first cell results in:

ERROR 2019-01-02 23:03:02,049: Unable to import scyjava: PYJNIUS_JAR environment variable not defined.

Is this a problem with my environment, the environment on the Binder server, or something else entirely?

What do I need to do to run this kernel on my local machine?

[2019-01-02 23:19] ctrueden commented on #62
Same instructions in the README should also enable the Python notebook locally. Give it a try and paste any errors here.

I will investigate the Binder failure. Probably will be solved by addressing imagej/pyimagej#21 and scijava/scyjava#5.

[2019-01-03 01:03] nicost commented on #62
Which README?  I don't see instructions here: https://github.com/imagej/tutorials/blob/master/README.md.  I really must be missing something very obvious.

Cloning the repository, installing Jupyter, and running "jupyter notebook" from within the "notebooks" directory results in a similar error (see below).  Note that I do have pyjnius installed:

valenico:1-Using-ImageJ nico$ pip3 list | grep jni

[2019-01-03 14:57] ctrueden commented on #62
The instructions I committed with c2e454bd759d85925157fdf11a254c2053ebbdee.

Are you using conda? Did you `source activate` the environment first? Unfortunately, right now, you have to activate the environment because it runs a couple of activation scripts that set those environment variables properly. As part of fixing imagej/pyimagej#21 and scijava/scyjava#5, I hope to eliminate that requirement

[2019-01-03 20:35] nicost commented on #62
Thanks!  Following these instructions to the letter worked.  I as a bit scared to add yet another package manager that I don't understand to the mix, but it seems to do its thing well.  The notebook indeed runs as it should.

[2019-01-03 20:37] ctrueden commented on #62
@nicost Glad to hear it is working!

[2019-01-03 20:39] ctrueden commented on #56
Addressed with 6d9d2bfae0325c6883004557b4c288487138c3e6.

[2019-01-03 20:39] #56 closed

[2019-01-07 20:01] ctrueden commented on #53
With https://github.com/scijava/scijava-scripts/commit/6cd677cc012e8aa237b9476311c9a3ff6f14d087, I finally updated `travis-build.sh` to do things correctly. That is: conda's `etc/profile.d/conda.sh` gets sourced as needed for conda 4.4+. I believe the code is good now. However, there is still an issue:
[code]
It seems like Travis must not use bash; this is not the first time I've seen it barf on b

[2019-01-09 20:42] imagejan commented on #59
I assume you mean [`WidgetDemo.java`](https://github.com/imagej/tutorials/blob/0553124c8e0b722733ddc15fc32398821bac0d9e/maven-projects/widget-demo/src/main/java/WidgetDemo.java) in this repository, but it would be nice to also keep the Javascript (in [`scripting-javascript`](https://github.com/scijava/scripting-javascript/blob/74e67c291ba2a4048d5c43b5d29424ebc4144ade/src/main/resources/script_temp

[2019-01-09 20:49] imagejan commented on #62
When running on binder, I still get the same error message in the `6-ImageJ-with-Python-kernel` notebook upon trying to run the first code cell:

[code]

[2019-01-09 21:50] ctrueden commented on #62
Thanks @imagejan. I think this specific issue will be resolved by fixing scijava/scyjava#5. @gselzer is currently working on it now. But we can leave this issue open as a blanket issue indicating that the Python-based ImageJ notebook does not currently work on Binder.

[2019-01-31 23:08] ctrueden opened #65 "Link to more awesome data science tutorials"
Here are a couple:

* https://www.kaggle.com/gzuidhof/full-preprocessing-tutorial
* https://www.kaggle.com/ankasor/improved-lung-segmentation-using-watershed

We need a place where these can be succinctly linked/recommended/curated.

[2019-02-01 11:30] imagejan opened #66 "Create tutorial about imglib2-roi and how to work with labelings"
Documentation on the most recent features of `imglib2-roi` is still sparse. Some of it is in the [`roi-demo`](https://github.com/imglib/imglib2-roi/tree/roi-demo) branch, some other info is scattered across github issues or on gitter (see e.g. [here](https://gitter.im/imglib/imglib2?at=5c542b97975714406b7838d2)).

Let's add a tutorial here (notebook or Maven project?) summarizing the functionality

[2019-02-07 17:13] imagejan commented on #65
Also (mentioned during `call4help` session at NEUBIAS2019):
* http://emmanuelle.github.io/a-tutorial-on-segmentation.html

[2019-03-01 15:29] ctrueden commented on #66
There are a couple of imglib2-roi-based exercises written by @maarzt [here](https://github.com/maarzt/imagej-legacy-course/blob/f48c2d01dd78667b28987028833a5494d98cdcdd/src/main/java/de/mpicbg/learnathon/course/legacy/exercise3_rois/DisplayRoi.java#L20-L54) and [here](https://github.com/maarzt/imagej-legacy-course/blob/cee67b2c313581b1022e0137abb3f66b4e89d42b/src/main/java/de/mpicbg/learnathon/cou

[2019-03-11 19:13] ctrueden commented on #66
Check out new functions from imglib/imglib2-roi#48 to see if they belong in this tutorial.

[2019-03-14 00:37] LinaeSostra opened #68 "Useful Writing Plugin Setup Video"
The ImageJ wiki doesn't go into enough detail how to set everything up in Eclipse + Maven (and an excessive amount of time re-reading), but this Youtube video is incredibly insightful how to get everything setup albeit a tad long to watch. This would make a great reference to point to for newcomers!

 https://www.youtube.com/watch?v=YIWpoBnnLio

[2019-03-14 08:07] imagejan commented on #68
@LinaeSostra would you be so kind and edit the corresponding wiki pages (e.g. [Writing plugins](https://imagej.net/Writing_plugins) or [Developing ImageJ in Eclipse](https://imagej.net/Developing_ImageJ_in_Eclipse)) to your liking and include a link to this video, so that you'd have found it when looking for it on the wiki?

[2019-03-14 16:21] LinaeSostra commented on #68
Sure :)

[2019-03-23 09:28] fmeyenhofer opened #69 "DynamicCommand: combobox in the example never gets updated"
I just pulled the latest changes of this repository and tried to get [DynamicCallbacks](https://github.com/imagej/tutorials/blob/master/maven-projects/dynamic-commands/src/main/java/DynamicCallbacks.java)
 running. Now the `KindOfThing` does not seem to trigger the update of the `Thing`. I put a breakpoint [here](https://github.com/imagej/tutorials/blob/c78764438d774295d00fc8a4273e4c4f25c8ad46/mav

[2019-03-23 13:33] imagejan commented on #69
@fmeyenhofer did you see the comment in the source code?

https://github.com/imagej/tutorials/blob/c78764438d774295d00fc8a4273e4c4f25c8ad46/maven-projects/dynamic-commands/src/main/java/DynamicCallbacks.java#L29-L31

But I don't think any active issue existed so far to track this, so we can now link to this one here 🙂 (although it should likely be in https://github.com/scijava/scijava-ui-swing/iss

[2019-03-25 09:58] fmeyenhofer commented on #69
yes, I read that a long time ago, but it was not present anymore when I wrote this issue. I found myself writing yet another Swing configuration dialog, because widgets cannot be dynamically updated, so I thought I see where this thing is at....

[2019-04-12 22:15] ctrueden commented on #62
With the release of scyjava 0.2.2, I was hoping this issue would be solved.

However, spinning up Binder yields the following error:
[code]

I got the error with beakerx 1.4.1, and thought that downgrading to 1.4.0 would work (it works locally for me), so I tried it with 95dc6b0bfb22b215f71333ebf3863c0ae0eaf29e. But the problem persists. 😔 This issue is already reported upstream at twosigma/beaker

[2019-04-13 19:41] imagejan commented on #62
@ctrueden moving the `beakerx` installation from `environment.yml` to `postBuild` fixed the issue when running on mybinder.org:

https://github.com/imagej/tutorials/compare/master...imagejan:imagejan-test-python-3.6

(I also tried pinning to Python 3.6 and removing `jupyter_contrib_nbextensions` before, which didn't fix it, but this is now possibly not required any more.)

I was now able to run th

[2019-04-13 19:47] imagejan opened #70 "Include Maven installation of ImageJ and Fiji artifacts in postBuild for binder"
Maybe we can run `mvn` (or `jgo`) in a `binder/postBuild` file to pre-install the Fiji and ImageJ Maven artifacts (at the versions used in the notebooks) at the time of building the binder image, so that using the notebooks on mybinder.org requires less waiting.

[2019-04-16 07:27] imagejan commented on #70
I tried to achieve this by adding:

[code]
[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/imagejan/imagej-tutorials/pre-install-dependencies)
(see https://github.com/imagej/tutorials/compare/master...imagejan:pre-install-dependencies)

While this populates `.m2/` with dependencies as expected, it's not sufficient for the notebooks to initialize ImageJ/Fiji without down

[2019-04-16 13:25] hanslovsky commented on #70
I do not think that that is necessary: by default, artifacts are not copied but rather hard-linked, sym-links can be used if preferred (e.g. if maven cache and jgo cache are on different file systems). Or maybe I do not understand what you would like to improve here?

Also, this may be relevant:
https://github.com/twosigma/beakerx/issues/6340

[2019-04-16 15:29] ctrueden commented on #70
As @hanslovsky said, jgo uses links from `.m2/repository`, so as long as the needed artifact versions are already present in the local Maven repo cache, the Python notebook's `ij = imagej.init(...)` calls should not download anything else, and the linking should be snappy. The version numbers line up, right?

As for BeakerX, one way forward might be to add something like this to the `postBuild`:
[

[2019-04-16 15:43] hadim commented on #70
I don't have a strong feeling about this feature but I have a comment: the `postBuild` step of Conda is pretty hard to debug when something goes wrong and it is also supposed to be a fast step. Moreover, if something is wrong during that step it can mess up your Conda installation a nightmare for a beginner who does not fully understand how Conda works).

So if you want to download artifacts at th

[2019-04-16 16:46] hadim commented on #70
Af sorry guys I mixed up the `postBuild` script of binder with the `activate.sh` script of Anaconda....

[2019-04-16 20:20] imagejan commented on #70
I tried [running `nbconvert`](https://github.com/imagejan/imagej-tutorials/commit/660b25fe1b1bf20ee46c0efae9c5eea3d0c0228f) but was running into issues. Will investigate more as time permits.

For the python kernel and `pyimagej`, I run [`imagej.init()` from python in `postBuild`](https://github.com/imagejan/imagej-tutorials/commit/a9876cfdfdfacbdfd2f4b2638d45ff839dea0c80), which worked, but the f

[2019-04-24 20:34] ctrueden commented on #62
Fixed by #71.

[2019-04-24 20:34] #62 closed

[2019-05-17 16:42] ctrueden commented on #53
This issue is blocked by the openjdk activation script not working on Travis. I made a fix that was supposed to address it (conda-forge/openjdk-feedstock#53) but after it was merged, it was pointed out that the fix is likely to be insufficient.

One way forward might be to have Travis run the conda stuff in a subshell with bash? Then we wouldn't have to make any more changes to the openjdk recipe

[2019-09-25 08:41] jehyunlee opened #74 "Problems with %classpath"
After installation of `pyimagej` according to the [Link](https://github.com/imagej/tutorials),
![image](https://user-images.githubusercontent.com/2725349/65584033-3b671300-dfbb-11e9-8780-70dea47245db.png)

I tried run attached notebook as instructed, however, it fails on the `%classpath` command.
Is there anything I might have missed, please?
![image](https://user-images.githubusercontent.com/2725

[2019-09-26 07:17] imagejan opened #75 "Consider using Jupytext for version control of Jupyter notebooks"
[Jupytext](https://github.com/mwouts/jupytext) looks like a good solution for version control of `.ipynb` notebooks, allowing clean version history in `md` or `py` and synchronising them with the rendered `ipynb` notebooks.

[2019-09-27 18:16] ctrueden commented on #75
Wow, cool! I will try to make time to try it out some time soon.

[2019-10-09 00:37] ctrueden commented on #74
Ah, you don't have the `beakerx` package. There was a problem with BeakerX on Binder (twosigma/beakerx#8022) where including the `beakerx` project in the environment itself wouldn't install properly, so we instituted an ugly workaround (#71). Sorry for the confusion.

For the moment, you can `conda install beakerx` from your active scijava environment to fix the problem. I am also working on fixin

[2019-10-09 00:37] #74 closed

[2019-10-09 00:50] ctrueden commented on #74
I pushed an update (68cb3b69d205be14bfd625a5d3fe299680f5bb32) fixing the `environment.yml` to include `beakerx`, and moving it back out of the `binder` subfolder. And updated the instructions accordingly.

[2019-10-10 06:45] jehyunlee commented on #74
Thanks! After new installation it works successfully.

[2019-10-25 17:01] mareq opened #76 "A connection to the notebook server could not be established."
Jupyter keeps reporting the problem about being unable to connect to kernel:
[code]

I have followed the steps from the readme file, tried to downgrade `tornado` as per [this stackoverflow response](https://stackoverflow.com/a/52824269/5292184) and I am running on Debian testing:
[code]

Am I doing something wrong?

[2019-11-19 16:40] ChasNelson1990 opened #78 ""ImageJ with Python Kernel" section 6.2 doesn't work"
I'm not convinced section 6.2 (Example: Run a plugin: ij.py.run_plugin) of the "ImageJ with Python Kernel" is actually working.

If you look at the two plots of 'blobs' and 'results' [in the binder version], they appear to be identical. Definitely not blurred.

In fact, I'm running an almost identical version of this code locally and no matter what I try I don't seem to be able to get the result f

[2019-11-19 16:45] ChasNelson1990 commented on #78
I've also raised this with the pyimagej repo: https://github.com/imagej/pyimagej/issues/51

[2019-11-28 21:52] frauzufall opened #80 "HowTo wishlist"
- [ ] How to loop over all images of a directory
- [ ] How to convert image types
- [ ] How to do maximum projection
- [ ] How to add overlays / work with ROIs

Who has more questions?

Can others edit this post? If not, just answer and I update the list. We could also add the user handle next to a question if someone volunteers to solve a specific one.

[2019-11-29 09:40] haesleinhuepf commented on #80
Hey @frauzufall ,

I ❤️ your initiative! There are indeed some things I've never managed in ImageJ2 and would love to lern how to do them. I link some half-backed solutions for these questions and some solutions only in ImageJ1:

- [ ] How to [measure](https://gist.github.com/haesleinhuepf/a6c2a267bac15ea1c067f47e039acb66) resulting in table ([related](https://github.com/mpicbg-scicomp/BioImageAna

[2019-11-29 13:48] frauzufall commented on #80
Hi Robert, thanks for the questions and links, I'll look into it! Btw, here is a PR with some improvements from the discussion in the last PR https://github.com/imagej/tutorials/pull/79

Another quite straightforward thing to do would be to translate [these IJ2 script templates](https://github.com/imagej/imagej-scripting/tree/master/src/main/resources/script_templates/ImageJ2) into Java.. And sort

[2019-11-29 14:00] haesleinhuepf commented on #80
Hey @frauzufall

Great! I'm happy to take the translation of the scripts over. For 11 files I would not invent an automatic translation algorithm ;-)

Is there a HOWTO-template and short description available of what a HOWTO-writer should take into account?

Thanks!

🐰

[2019-11-29 15:01] frauzufall commented on #80
@haesleinhuepf cool! I added a readme and template to #79. Let me know if it's useful or needs improvement!

[2019-12-01 10:31] haesleinhuepf commented on #80
Hey @frauzufall,

while translating the script templates, some additional questions came up:
- [ ] How to open [confocal series zip](https://imagej.nih.gov/ij/images/confocal-series.zip)
- [ ] How to iterate a [HyperSphere](https://github.com/imagej/imagej-scripting/blob/master/src/main/resources/script_templates/Tutorials/Create_and_Convolve_Points.py#L31) in Java - I only know the [cursor way](h

[2019-12-01 13:46] lhilbert commented on #80
How to carry out pixel level mathematical operations like I can in Matlab? Full access to indices, values, logical operations etc.

[2019-12-01 15:17] imagejan commented on #80
@haesleinhuepf wrote:

`HyperSphere<T>` implements `Iterable<T>`, so it should work exactly as in the Jython example, no?

[2019-12-01 15:36] haesleinhuepf commented on #80
I couldn't find out how. My IntelliJ gives a bit a weird error message

![image](https://user-images.githubusercontent.com/12660498/69916216-a835d800-1458-11ea-8c3f-31a9a622d578.png)

[2019-12-01 15:54] imagejan commented on #80
In [this ImgLib2 example](https://github.com/imglib/imglib2-tutorials/blob/ea30fb4c1bf587888c8832f3e27ad8312565fba2/src/main/java/Example4b.java#L138-L143) it seems to work.

[2019-12-01 16:00] haesleinhuepf commented on #80
I think the problem is, neither IntelliJ nor the code writer can know what U is. A problem introduced by Java generics....

[2019-12-01 21:07] imagejan commented on #80
That's why you have to put `U extends RealType< U >` in the method signature, as shown in the example as well. I'd be *very* surprised if IntelliJ couldn't handle generics well. I'd recommend using Eclipse then ;-)

[2019-12-01 21:13] haesleinhuepf commented on #80
But it's DoubleType and not RealType<U>, look here:
https://github.com/imagej/tutorials/blob/adding_scripting_templates/howtos/src/main/java/howto/processing/CreateAndConvolvePoints.java#L60

[2019-12-10 13:54] ctrueden commented on #78
Sorry for the delay in reply, @ChasNelson1990!

The problem is caused by imagej/pyimagej#36, because the "Mean" plugin that the notebook executes there is not a built-in ImageJ1 plugin, but rather something included with Fiji: `mpicbg.ij.plugin.Mean`. And those extra plugins were only working when wrapping a local Fiji installation, not when launching a Fiji using the `imagej.init('sc.fiji:fiji')`

[2019-12-10 13:54] #78 closed

[2020-01-28 15:59] imagejan commented on #80
I added a point by editing the [↗️ original post](https://github.com/imagej/tutorials/issues/80#issue-530084264).

[2020-02-04 20:15] ctrueden commented on #80
I merged #79, in case that affects the checklist here at all.

[2020-02-05 08:45] frauzufall commented on #80
Thanks @ctrueden!

@haesleinhuepf, do you plan to continue with the scripts or should I continue from you branch https://github.com/imagej/tutorials/commits/adding_scripting_templates? Should we go over it together at some point?

[2020-08-06 10:22] imagejan commented on #53
@ctrueden wrote:

Is this still an issue? Maybe it can be fixed by replacing [this in `.travis.yml`](https://github.com/imagej/tutorials/blob/a52f9a11fb812ee8bd7cb0c2aeebc0ebce2d121d/.travis.yml#L8):

[code]

[2020-08-27 20:35] ctrueden opened #88 "Move working-with-modules to howtos"
The `WorkingWithModules` example would make more sense as a howto.

[2020-09-10 18:04] ctrueden opened #89 "Address dependency skew in BeakerX notebooks"
Unfortunately, Maven has a [serious bug in dependency resolution](https://stackoverflow.com/q/45041888/1207769) that is unlikely to ever be fixed.

The gist is: projects extending pom-scijava will not notice the bug. But projects which do not, yet depend on e.g. `net.imagej:imagej:2.1.0`, will inherit the wrong dependency versions.

While we could consider some workaround (such as embedding all ve

[2020-09-10 18:30] ctrueden opened #90 "Resolve BeakerX component version skew (kotlin, okio, maybe more)"
One reason we switched away from the SciJava Jupyter Kernel in favor of plain BeakerX Groovy is to avoid hardcoded dependency overlap between the notebook technology itself and the SciJava-component dependencies needed to use ImageJ et al. Unfortunately, there is now some overlap again causing conflicts, notably the Kotlin standard library, and the `okio` library. You can see this in the ImageJ-Tu

[2020-09-22 14:55] imagejan commented on #53
Unfortunately no.

Neither `script: bash ".travis/build.sh"` (build [#153](https://travis-ci.org/github/imagej/tutorials/builds/729318089)) nor `script: "bash .travis/build.sh"` (build [#154](https://travis-ci.org/github/imagej/tutorials/builds/729327536)) changed anything in the build.

[2022-03-21 20:36] jackrueth opened #94 "Tab completion isn't working in the Jupyter Notebooks"
Not currently working in the jupyter notebooks.

NB: Working in some areas for me but not others. More specifically, is working in tutorials and demos but not why jupyter.

[2022-04-05 22:17] ctrueden opened #98 "Add -Djava.net.useSystemProxies=true tip to sections about proxy configuration"
Might be simpler than the manually configured `http.proxyHost`/`http.proxyPort`/`https.proxyHost`/`https.proxyPort` combo we currently recommend. See also https://github.com/imagej/pyimagej/issues/121#issuecomment-1089409309

[2022-04-07 18:10] ctrueden opened #99 "Update to the latest version of ImageJ2. Currently this is 2.3.0"
This is currently blocked by the fact that there is some version clash involving kotlin between BeakerX core and ImageJ2 dependencies.

[2022-04-07 19:24] ctrueden opened #100 "Figure out why tab completion isn't working, and fix it"